$breakPoint: 1000px;

.wrapper {
    display: flex;
    
}

.transactions {
    display: block;
    justify-content: center;
    padding: 1rem 2rem;
    width: 100%;
    gap:4px;
    background-color: #1d2432;
    @media screen and (min-width: $breakPoint) {
        display: flex;
    }
}

.chart {
    max-width: 100%;
    width: 100%;

    @media screen and (min-width: $breakPoint) {
        max-width: 100%;
    }
}