.dataCard {
    position: relative;
    top: 1rem;
    height: 100%;
    width: calc(100% - 0.1rem);
    padding: 0.5rem;
    background-color: #D8C4B6;

    p {
        padding: 0rem 1rem ;
        margin: 0;
    }
}

.header { 
    display: flex;
    justify-content: center;

    button, p {
            padding: 0.25rem;
        }
}


